@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

header {
  background-color: #ffffff;
}

nav {
  display: flex;
}

nav button {
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 0;
  border: none;
  font-size: 1.25rem;
  background-color: #bfb1a8;
  cursor: pointer;
  flex-grow: 1;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav button.active {
  background-color: #8b1e3f;
  color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #f5ede4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    padding-top: 2rem;
    font-size: 3rem;
    color: #8b1e3f;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h3 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #2e2e2e;
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 2rem;
}

#menu, #about {
  background-color: #f8f5f2;
  padding: 1rem 3rem 1.5rem;
  color: #4a081c;
  margin: 3.5rem 0;
  width: 80vw;
  max-width: 800px;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.dish {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0.5rem 0;
}

.name-and-desc {
  max-width: 60%;
  overflow-wrap: break-word;
}

h5 {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

.name-and-desc p {
  font-style: italic;
  font-weight: 300;
  max-width: 80%;
}

.price-and-trend p {
  font-size: 0.9rem;
}

.price-and-trend {
  text-align: right;
}

h2 {
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.25rem;
}

#contact-info {
  margin-top: 1rem;
}

#disclaimer {
  margin-top: 1rem;
  font-size: 0.75rem;
}